<!-- <div class="card mb-3">
  <div class="card-header text-center">
    <h1 class="h1">{{ food.nombre }}</h1>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item"><b>Precio:</b> S/{{ food.precio }}</li>
      <li class="list-group-item">
        <b>Descripción:</b> {{ food.descripcion }}
      </li>
      <li class="list-group-item">
        <img [src]="food.urlImagen" alt="" class="card-img-bottom" />
      </li>
    </ul>
  </div>
  <div class="card-footer" *ngIf="!isPreview">
    <ul class="list-group">
      <li class="list-group-item d-flex flex-row">
        <button class="btn btn-success" (click)="redirectEdit(food.id)">
          <span class="material-icons"> edit </span>
        </button>
        <button class="btn btn-danger" (click)="delete(food)">
          <span class="material-icons"> delete </span>
        </button>
      </li>
    </ul>
  </div>
</div> -->

<mat-card class="mb-3">
  <mat-card-title>{{ food.nombre }}</mat-card-title>
  <img
    mat-card-image
    [src]="food.urlImagen"
    alt="food.descripcion"
    class="card-img-bottom"
  />
  <mat-card-content>
    <p><b>Precio:</b> S/{{ food.precio }}</p>
    <p><b>Descripción:</b> {{ food.descripcion }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="!isPreview">
    <button mat-button (click)="redirectEdit(food.id)">
      <span class="material-icons"> edit </span>
    </button>
    <button mat-button (click)="delete(food)">
      <span class="material-icons"> delete </span>
    </button>
  </mat-card-actions>
</mat-card>
