.footer {
  --font-text: 16px;
  margin-top: 5em;
  background: var(--bs-indigo);
  width: 100%;
  min-height: 50vh;
  padding-bottom: 2.5em;
}

.footer__container {
  padding: 5em 0 2.5em 0;
  color: var(--bs-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  border-bottom: 3px solid var(--bs-light);
}

.footer__content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer__brand {
  font-size: calc(var(--font-text) * 2);
  font-weight: 500;
}

.footer__brand-icon {
  display: inline;
  font-size: 2em;
}

.footer__description {
  font-size: calc(var(--font-text) * 1.3);
  line-height: 1.3em;
}

.footer__contact {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer__items-title {
  width: fit-content;
  padding-bottom: 0.7em;
  font-size: calc(var(--font-text) * 1.4);
  border-bottom: 3px solid var(--bs-light);
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  margin: 0;
}

.footer__item {
  font-size: calc(var(--font-text) * 1.2);
  line-height: 2em;
  list-style: none;
}

.footer__item .mat-icon {
  font-size: inherit;
}

/*--------------------------- MEDIAQUERIES */
@media screen and (max-width: 600px) {
  .footer {
    --font-text: 12px;
    text-align: center;
    margin: 0;
  }

  .footer__container {
    padding: 4em 2em;
  }

  .footer__items {
    text-align: start;
  }
}
