.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-mini-fab {
  box-shadow: none;
}

.menu-week {
  --font-text: 16px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 1em;
}

.menu-week__list-item {
  display: flex;
}

.menu-week__list-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-week__list-item:hover .menu-week__icon {
  display: inline-block;
}

.menu-week__title {
  text-align: center;
  font-size: calc(var(--font-text) * 3);
  width: 100%;
  margin: 2em 0 1em 0;
}

.menu-week__icon-title {
  font-size: inherit;
  width: 50px;
}

.menu-week__icon {
  background: var(--bs-indigo);
  color: var(--bs-light);
}

.menu-week__list-option-icon {
  background: transparent;
  color: var(--bs-light);
}

/* -------------- MEDIAQUERIES */
@media screen and (max-width: 600px) {
  .menu-week {
    --font-text: 12px;
  }
}
