<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="menu-week container mt-3 text-center" id="menu-week">
    <h3 class="menu-week__title text-light">Menú semanal</h3>
    <div class="container py-3 text-center">
      <div class="row">
        <mat-tab-group
          class="p-0"
          mat-align-tabs="end"
          [selectedIndex]="selected.value"
          (selectedIndexChange)="showMenu($event)"
        >
          <mat-tab [label]="getTextDay(menu.fecha)" *ngFor="let menu of menus">
            <mat-accordion class="example-headers-align my-3" multi>
              <mat-expansion-panel
                expanded="1"
                *ngFor="let numberList of foodsList"
                class="menu-week__item"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title class="py-2">
                    {{ textList[numberList] }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ getFoodList(numberList).length }} platillos
                    <button
                      mat-mini-fab
                      class="menu-week__icon"
                      (click)="addFoodListToCart(menu, numberList)"
                    >
                      <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-selection-list [multiple]="false">
                  <mat-list-option
                    *ngFor="let food of getFoodList(numberList)"
                    class="menu-week__list-item"
                    (click)="openDialog(food)"
                  >
                    <div class="w-100 menu-week__list-option">
                      <span>{{ food.nombre }}</span>
                      <button mat-mini-fab class="menu-week__list-option-icon">
                        ver
                      </button>
                    </div>
                  </mat-list-option>
                </mat-selection-list>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
